src/main/resources/model_customerManagement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace='http://orange.com/api/customer/tmf/v2/model/business' attributeFormDefault='unqualified' elementFormDefault='qualified' xmlns='http://orange.com/api/customer/tmf/v2/model/business' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:annotation id='sidTag'>
    <xsd:appinfo></xsd:appinfo>
  </xsd:annotation>
  <xsd:element name='Customer' type='Customer' />
  <xsd:element name='CustomerAccount' type='CustomerAccount' />
  <xsd:element name='CustomerCreditProfile' type='CustomerCreditProfile' />
  <xsd:element name='ContactMedium' type='ContactMedium' />
  <xsd:element name='Medium' type='Medium' />
  <xsd:element name='PaymentMean' type='PaymentMean' />
  <xsd:element name='Characteristic' type='Characteristic' />
  <xsd:element name='RelatedParty' type='RelatedParty' />
  <xsd:element name='ValidFor' type='ValidFor' />
  <xsd:element name='CustomerAccountBalance' type='CustomerAccountBalance' />
  <xsd:element name='PaymentPlan' type='PaymentPlan' />
  <xsd:element name='Contact' type='Contact' />
  <xsd:element name='CustomerAccountRelationship' type='CustomerAccountRelationship' />
  <xsd:element name='CustomerAccountTaxExemption' type='CustomerAccountTaxExemption' />
  <xsd:element name='CreditCard' type='CreditCard' />
  <xsd:element name='BankAccount' type='BankAccount' />
  <xsd:element name='PaymentMeanRef' type='PaymentMeanRef' />
  <xsd:element name='CustomerAccountRef' type='CustomerAccountRef' />
  <xsd:element name='CustomerRef' type='CustomerRef' />
  <xsd:complexType name='Customer'>
    <xsd:sequence minOccurs='1' maxOccurs='1'>
      <xsd:element name='id' type='xsd:long' minOccurs='0' />
      <xsd:element name='href' type='xsd:string' minOccurs='0' />
      <xsd:element name='name' type='xsd:string' minOccurs='0' />
      <xsd:element name='status' type='xsd:string' minOccurs='0' />
      <xsd:element name='description' type='xsd:string' minOccurs='0' />
      <xsd:element name='validFor' type='ValidFor' minOccurs='0' />
      <xsd:element name='customerRank' type='xsd:string' minOccurs='0' />
      <xsd:element name='relatedParty' type='RelatedParty' minOccurs='0' />
      <xsd:element name='characteristic' type='Characteristic' minOccurs='0' maxOccurs='unbounded' />
      <xsd:element name='contactMedium' type='ContactMedium' minOccurs='0' maxOccurs='unbounded' />
      <xsd:element name='customerAccount' type='CustomerAccount' minOccurs='0' maxOccurs='unbounded' />
      <xsd:element name='customerCreditProfile' type='CustomerCreditProfile' minOccurs='0' maxOccurs='unbounded' />
      <xsd:element name='paymentMean' type='PaymentMean' minOccurs='0' maxOccurs='unbounded' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='CustomerAccount'>
    <xsd:sequence minOccurs='1' maxOccurs='1'>
      <xsd:element name='id' type='xsd:long' minOccurs='0' />
      <xsd:element name='href' type='xsd:string' minOccurs='0' />
      <xsd:element name='name' type='xsd:string' minOccurs='0' />
      <xsd:element name='description' type='xsd:string' minOccurs='0' />
      <xsd:element name='status' type='xsd:string' minOccurs='0' />
      <xsd:element name='accountType' type='xsd:string' minOccurs='0' />
      <xsd:element name='creditLimit' type='xsd:string' minOccurs='0' />
      <xsd:element name='pin' type='xsd:string' minOccurs='0' />
      <xsd:element name='receivableBalance' type='xsd:float' minOccurs='0' />
      <xsd:element name='customerAccountTaxExemption' type='CustomerAccountTaxExemption' minOccurs='0' maxOccurs='unbounded' />
      <xsd:element name='customerAccountRelationship' type='CustomerAccountRelationship' minOccurs='0' maxOccurs='unbounded' />
      <xsd:element name='contact' type='Contact' minOccurs='0' maxOccurs='unbounded' />
      <xsd:element name='customer' type='CustomerRef' minOccurs='0' />
      <xsd:element name='customerAccountBalance' type='CustomerAccountBalance' minOccurs='0' maxOccurs='unbounded' />
      <xsd:element name='paymentPlan' type='PaymentPlan' minOccurs='0' maxOccurs='unbounded' />
      <xsd:element name='lastModified' type='xsd:dateTime' minOccurs='0' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='CustomerCreditProfile'>
    <xsd:sequence minOccurs='1' maxOccurs='1'>
      <xsd:element name='creditProfileDate' type='xsd:dateTime' minOccurs='0' />
      <xsd:element name='validFor' type='ValidFor' minOccurs='0' />
      <xsd:element name='creditRiskRating' type='xsd:string' minOccurs='0' />
      <xsd:element name='creditScore' type='xsd:string' minOccurs='0' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='ContactMedium'>
    <xsd:sequence minOccurs='1' maxOccurs='1'>
      <xsd:element name='type' type='xsd:string' minOccurs='0' />
      <xsd:element name='validFor' type='ValidFor' minOccurs='0' />
      <xsd:element name='medium' type='Medium' minOccurs='0' />
      <xsd:element name='preferred' type='xsd:string' minOccurs='0' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Medium'>
    <xsd:sequence minOccurs='1' maxOccurs='1'>
      <xsd:element name='city' type='xsd:string' minOccurs='0' />
      <xsd:element name='country' type='xsd:string' minOccurs='0' />
      <xsd:element name='emailAddress' type='xsd:string' minOccurs='0' />
      <xsd:element name='type' type='xsd:string' minOccurs='0' />
      <xsd:element name='number' type='xsd:string' minOccurs='0' />
      <xsd:element name='postcode' type='xsd:string' minOccurs='0' />
      <xsd:element name='stateOrProvince' type='xsd:string' minOccurs='0' />
      <xsd:element name='streetOne' type='xsd:string' minOccurs='0' />
      <xsd:element name='streetTwo' type='xsd:string' minOccurs='0' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='PaymentMean'>
    <xsd:sequence minOccurs='1' maxOccurs='1'>
      <xsd:element name='id' type='xsd:long' minOccurs='0' />
      <xsd:element name='href' type='xsd:string' minOccurs='0' />
      <xsd:element name='name' type='xsd:string' minOccurs='0' />
      <xsd:element name='validFor' type='ValidFor' minOccurs='0' />
      <xsd:element name='type' type='xsd:string' minOccurs='0' />
      <xsd:element name='bankAccount' type='BankAccount' minOccurs='0' />
      <xsd:element name='relatedParty' type='RelatedParty' minOccurs='0' />
      <xsd:element name='creditCard' type='CreditCard' minOccurs='0' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Characteristic'>
    <xsd:sequence minOccurs='1' maxOccurs='1'>
      <xsd:element name='name' type='xsd:string' minOccurs='0' />
      <xsd:element name='value' type='xsd:string' minOccurs='0' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='RelatedParty'>
    <xsd:sequence minOccurs='1' maxOccurs='1'>
      <xsd:element name='id' type='xsd:string' minOccurs='0' />
      <xsd:element name='href' type='xsd:string' minOccurs='0' />
      <xsd:element name='role' type='xsd:string' minOccurs='0' />
      <xsd:element name='name' type='xsd:string' minOccurs='0' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='ValidFor'>
    <xsd:sequence minOccurs='1' maxOccurs='1'>
      <xsd:element name='startDateTime' type='xsd:dateTime' minOccurs='0' />
      <xsd:element name='endDateTime' type='xsd:dateTime' minOccurs='0' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='CustomerAccountBalance'>
    <xsd:sequence minOccurs='1' maxOccurs='1'>
      <xsd:element name='type' type='xsd:string' minOccurs='0' />
      <xsd:element name='amount' type='xsd:float' minOccurs='0' />
      <xsd:element name='validFor' type='ValidFor' minOccurs='0' />
      <xsd:element name='status' type='xsd:string' minOccurs='0' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='PaymentPlan'>
    <xsd:sequence minOccurs='1' maxOccurs='1'>
      <xsd:element name='status' type='xsd:string' minOccurs='0' />
      <xsd:element name='type' type='xsd:string' minOccurs='0' />
      <xsd:element name='priority' type='xsd:string' minOccurs='0' />
      <xsd:element name='amount' type='xsd:float' minOccurs='0' />
      <xsd:element name='paymentFrequency' type='xsd:string' minOccurs='0' />
      <xsd:element name='numberOfPayments' type='xsd:string' minOccurs='0' />
      <xsd:element name='validFor' type='ValidFor' minOccurs='0' />
      <xsd:element name='paymentMean' type='PaymentMeanRef' minOccurs='0' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Contact'>
    <xsd:sequence minOccurs='1' maxOccurs='1'>
      <xsd:element name='type' type='xsd:string' minOccurs='0' />
      <xsd:element name='validFor' type='ValidFor' minOccurs='0' />
      <xsd:element name='name' type='xsd:string' minOccurs='0' />
      <xsd:element name='partyRoleType' type='xsd:string' minOccurs='0' />
      <xsd:element name='medium' type='ContactMedium' minOccurs='0' maxOccurs='unbounded' />
      <xsd:element name='relatedParty' type='RelatedParty' minOccurs='0' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='CustomerAccountRelationship'>
    <xsd:sequence minOccurs='1' maxOccurs='1'>
      <xsd:element name='relationshipType' type='xsd:string' minOccurs='0' />
      <xsd:element name='validFor' type='ValidFor' minOccurs='0' />
      <xsd:element name='customerAccount' type='CustomerAccountRef' minOccurs='0' maxOccurs='unbounded' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='CustomerAccountTaxExemption'>
    <xsd:sequence minOccurs='1' maxOccurs='1'>
      <xsd:element name='issuingJurisdiction' type='xsd:string' minOccurs='0' />
      <xsd:element name='certificateNumber' type='xsd:string' minOccurs='0' />
      <xsd:element name='reason' type='xsd:string' minOccurs='0' />
      <xsd:element name='validFor' type='ValidFor' minOccurs='0' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='CreditCard'>
    <xsd:sequence minOccurs='1' maxOccurs='1'>
      <xsd:element name='holder' type='xsd:string' minOccurs='0' />
      <xsd:element name='type' type='xsd:string' minOccurs='0' />
      <xsd:element name='number' type='xsd:string' minOccurs='0' />
      <xsd:element name='expirationDate' type='xsd:dateTime' minOccurs='0' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='BankAccount'>
    <xsd:sequence minOccurs='1' maxOccurs='1'>
      <xsd:element name='bIC' type='xsd:string' minOccurs='0' />
      <xsd:element name='domiciliation' type='xsd:string' minOccurs='0' />
      <xsd:element name='iBAN' type='xsd:string' minOccurs='0' />
      <xsd:element name='accountHolder' type='xsd:string' minOccurs='0' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='PaymentMeanRef'>
    <xsd:sequence minOccurs='1' maxOccurs='1'>
      <xsd:element name='id' type='xsd:string' minOccurs='0' />
      <xsd:element name='href' type='xsd:string' minOccurs='0' />
      <xsd:element name='name' type='xsd:string' minOccurs='0' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='CustomerAccountRef'>
    <xsd:sequence minOccurs='1' maxOccurs='1'>
      <xsd:element name='id' type='xsd:string' minOccurs='0' />
      <xsd:element name='href' type='xsd:string' minOccurs='0' />
      <xsd:element name='name' type='xsd:string' minOccurs='0' />
      <xsd:element name='description' type='xsd:string' minOccurs='0' />
      <xsd:element name='status' type='xsd:string' minOccurs='0' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='CustomerRef'>
    <xsd:sequence minOccurs='1' maxOccurs='1'>
      <xsd:element name='id' type='xsd:string' minOccurs='0' />
      <xsd:element name='href' type='xsd:string' minOccurs='0' />
      <xsd:element name='name' type='xsd:string' minOccurs='0' />
      <xsd:element name='description' type='xsd:string' minOccurs='0' />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>